
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

.main {
 height: calc(100vh);
 width: 100%;
 width: calc(100%);

}

.banner {
    float: left;
    height: calc(10vh);
    width: 100%;
    width:calc(100%);
    background: #000000;
}


#footer {
    float: left;
    height: calc(10vh);
    width: 100%;
    width:calc(100%);
    background: #000000;
    font-style: oblique;
    font-size: 25px;
    color: #FFFFFF;

}

.home_content{
    float: left;
    background: #00CED1;
    text-align: center;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}

.reports_content{
    float: left;
    background: #7FFF00;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}

.open_recquisitions_content{
    float: left;
    background: #FFF8DC;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}

.companies_content{
    float: left;
    background: #B0C4DE;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}

.candidates_content{
    float: left;
    background: #BDB76B;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}

.events_content{
    float: left;
    background: #E9967A;
    width: 90%;
    width:calc(90%);
     height: calc(80vh);
}


.panel {
    background: #696969;
    width: 10%;
    width:calc(10%);
     height: calc(80vh);
    float: left;
}
.banner_title {
    padding-left: 50px;
    color: white;
    float: left;
}

.login {
    color: blue;
    float: right;
    padding-right: 50px;
}

.signup {
    color: green;
    float: right;
    padding-right: 50px;
}

.candidate {
    margin-top: 20px;
}

.candidate-table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

th, td {
    border: solid;
    border-collapse: collapse;
}

/* .col-header, th {
     font-size: 16px; 
} */
/* .banner {
    background-size: 
} */


.panel ul{
  list-style-type: none;
}

.sidepanel{
    float:left;
    width: 100%;
    width:calc(100%);
    height: calc(10vh);
    font-style: oblique;
    font-size: 15px;

}


.intro{
    font-size: 32px;
    margin-left: 5px;
}