body {
    background-color: lightblue;
}

ul {
    list-style-type: circle;
}

li {
    margin:50px 0;
}

div {
    vertical-align: top;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: 85%;
    border-style: solid;
    overflow: hidden;
}

.panel {
    margin-right:10px;
    padding-right:10px;
    border-right: solid;
    width:30%;
    display: inline-block;
}

.content {
    /* width: 70%; */
    padding-top: 25px; 
    padding-bottom: 25px;
    margin: auto;
    width:60%;
    display: inline-block
}

.home {
    text-align: center;
}

.candidate-table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

th, td {
    border: solid;
    border-collapse: collapse;
}

/* .col-header, th {
     font-size: 16px; 
} */
/* .banner {
    background-size: 
} */