body {
    background-color: lightblue;
}

ul {
    list-style-type: circle;
}

li {
    margin:50px 0;
}

.main {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    border-style: solid;
    overflow: hidden;
}

.panel {
    margin-right:10px;
    padding-right:10px;
    border-right: solid;
    float: left;
}

.content {
    /* width: 70%; */
    float: left;
}
/* .banner {
    background-size: 
} */